.navbar {
 background-color: transparent;
  position: absolute;
  top: 0px;
  height: 60px;
}

/* .navbar-brand, .navbar-collapse {
  width: 30%;
} */

.nav-link {
  color: white !important;
}

.nav-link.active {
  border-bottom: 3px solid #FF5757;
}

.form-div {
  padding: 0px;
  padding-bottom: 20px;
  margin: 0 30px;
  //   margin-top: 40px;
  width: 100%;

  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  margin-left: 0px;
  margin-top: -8px;
}

.form-div .nav-tabs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
  border: none;
  width: 35%;
}

.form-div .nav-tabs .nav-link {
  padding: 22px 0px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  background: #ffffff;
  border: none;
  //   border-right: 0.5px solid #333333;
  border-radius: 1px;
}

.form-div .nav-tabs .nav-link:hover {
  opacity: 0.98;
}

.form-div .nav-tabs .nav-link.active {
  color: #ffffff;
  background: #043f7c;
  //   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.form-div .form {
  padding: 0px 30px;
}

.form-group {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 0 30px;
  margin-bottom: 80px;
  width: 550px;
}
.form-group:last-child {
  margin-bottom: 0px;
}

.form-group .input-group {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 90%;
  height: 80px;
}

.form-group .input-group input {
  width: 100%;
  height: 80px;
  font-size: 18px;
}

.form-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.booking-vid {
  position: absolute;
  width: 100%;
  height: 450px;
  top: 0px;
  z-index: -1;
}

.booking-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  min-width: 100%;
}
.logo2 {
  position: absolute;
  top: 8rem;
}

.grid-container {
  // display: flex;
  width: 100%
}

.grid-items {
  padding: 23px;
}


.grid-item {
  // padding: 10px;
  font-size: 30px;
  text-align: center;
  position: relative;
  // width: 30% !important;
}

.inputContainer i {
  position: absolute;
}
.inputContainer {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5%;
}
.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}

.boarding-but {
  padding: 1.3rem 4rem 0.8rem 4rem;
  border: none;
  font-size: 1rem;
  background: #ff5757;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  text-decoration: none;
}

.boarding-but a {
  color: #ffffff;
}

.boarding-but a:hover {
  color: #ffffff;
  text-decoration: none;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: rgba(0, 0, 0, 0.4);
}

.input-field {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 0.5px solid #9b9a9a;
  border-radius: 5px;
  font-size: 1rem;
  padding-top: 5px;
  padding-left: 50px;
  text-align: left;
  font-weight: 400;
}

.input-field:focus {
  border: 0.5px solid #043F7C !important;
  color: #043F7C;
  background-color: rgba(4, 63, 124, 0.04);
  box-sizing: border-box;
  border-radius: 5px;
}

.nav-tabs {
  border-radius: 25% !important;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.20) !important;
}

.input-field:hover {
  // background-color: rgba(4, 63, 124, 0.04);
  border: 0.5px solid #043f7c;
}

.tabs {
  position: absolute;
  width: 220px;
  height: 50px;
  top: 399.5px;
  color: #ffffff;
  cursor: pointer;
}

.tabs.left {
  left: 0px;
  background: #043F7C;
  border-radius: 5px 0px 0px 0px;
}

.tabs.right {
  left: 220px;
  background: #FFFFFF;
  box-shadow: 2px 2px 2px rgba(4, 63, 124, 0.1);
  border-radius: 0px 5px 0px 0px;
}

.tabContent {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 454px;

  background: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(4, 63, 124, 0.1);
  border-radius: 0px 5px 5px 5px;
}

// .tabContent form {
//   width: 100%;
// }

// .tabContent form .row {
//   margin: auto;
//   width: 990px
// }


.tabs.left img {
  position: relative;
  left: 21px;
  top: 15px;
}

.tabs.left p {
  position: absolute;
  left: 51px;
  top: 15px;
}

.tabs.right p {
  position: absolute;
  left: 78px;
  top: 16px;
}

.tabs.right img {
  position: relative;
  left: 48px;
  top: 15px;
}


.bottom-cont {
  width: 100%;
  background-color: black;
}

.booking-card {
  padding-top: 3rem;
  /* border: solid 1px; */
  width: 180px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  box-shadow: #c7c7c7 0rem 1rem 30px 0.4rem;
}

.booking-card p {
  margin-top: 10px;
}

.card .img2 {
  position: absolute;
  //   height: 103px;
  //   width: 10%;
}

.carder {
  padding: 2rem;
}


// ::placeholder {
//   font-size: 20px;
//   padding-right: 98px;
//   padding-top: 0px;
// }
