.service-card {
  position: absolute;
  width: 180px;
  height: 150px;
  top: 654px;
  display: flex;
  justify-content: center;

  background: #FFFFFF;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(0, 0, 0, 0.1), -2px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  img {
    position: absolute;
  }

  p {
    position: absolute;
    top: 100px;
    // font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
  }
}



@media screen and(max-width: 1360px) {
  .service-card {
    width: 30rem;
    height: 20rem;

    img {
      height: 75px;
    }

    p {
      font-size: 2rem;
    }
  }
}

@media screen and(max-width: 500px) {
  .service-card {
    width: 17rem;
    height: 18rem;
    padding: 3rem 2rem;

    img {
      height: 50px;
    }

    p {
      font-size: 1.6rem;
    }
  }
}
